<script 
    src='https://kit.fontawesome.com/a076d05399.js'
    src='https://kit.fontawesome.com/a076d05399.js'
    src='https://kit.fontawesome.com/a076d05399.js'
    src='https://kit.fontawesome.com/a076d05399.js'
    src='https://kit.fontawesome.com/a076d05399.js'
    >
</script>

<nav>
    <h2>Weather App</h2>
    <div class = "icons">
        <ul>
            <li><i class='fas fa-cloud-sun-rain' style='font-size:22px'></i></li>
            <li><i class="fa fa-cloud" style='font-size:18px'></i></li>
            <li><i class='fas fa-sun' style='font-size:22px'></i></li>
            <li><i class='fas fa-cloud-rain' style='font-size:24px'></i></li>
            <li><i class='far fa-snowflake' style='font-size:23px'></i></li>    
        </ul>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>