<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <h2>Weather App</h2>
    <ul>
        <li><i class="fa fa-cloud"></i></li>
        <li><a href="/">Home</a></li>
        <li><a href="/weather">Weather</a></li>
    </ul>
</nav>