@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');

body {
  font-family: 'Roboto';
  background-image: url("../images/cloud.jpg");
  background-size: 100%;
}

h2 {
  color: rgb(73, 73, 73);
}
.layout {
  background-color: lightgray;
  position: absolute;
  top: 35%;
  left: 35%;
  display: flex;
  height: 50%;
  width: 30%;
  flex-wrap: wrap;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.icons {
  width: 90%;
  color: grey;
}
.info {
    width: 100%;
}

.current-weather {
  position: absolute;
  top: 8%;
  left: 15%;
  color: rgb(73, 73, 73);

}

.temp {
  position: absolute;
  top: 23%;
  left: 33%;
  font-size: 300%;
  color: rgb(73, 73, 73);
  
}

nav {
  background-color: lightgray;
  padding: 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3), 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li {
  padding-left: 20px;
  list-style: none;
}
.list-data {
  list-style: none;
}

.btn-style {
  padding-top: 50px;
  text-align: center;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  width: 28%;
  color: white;
  position: absolute;
  left: 35%;
  top: 30%;
  background-color: lightgray;
  
}

.btn-style:hover {
    background-color: rgb(97, 94, 94);
    box-shadow: 0px 5px 0px 0px grey;
}

#date {
  /* flex: 0 0 30%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgb(97, 94, 94);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 90px;
  font-weight: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
